body{
    font-family: sans-serif;
    font-size: 16px;
}
.banner{
    border: 1px solid;
    width: 992px;
    margin:auto;
    height: 400px;
    background-color:#431a6e;
}
.banner .content{
    text-align:center;
    width: 70%;
    margin: auto;
    margin-top: 45px;
    padding: 20px 0px;
    background: #dba1f1a3;
    border-radius: 20px;
    box-shadow: 0 0 10px #dba1f1a3;
}
.banner .content h1{
    font-size: 24px;
    font-family: sans-serif;
    color: rgb(192, 149, 197);
}
.banner .content p{
    font-size: 16px;
    font-family: sans-serif;
    color: white;
    margin-bottom: 50px;
    padding: 10px 80px;
}
.banner .content a{
    display: inline-block;
    border: 1px solid white;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    text-transform:uppercase;
    margin-bottom: 50px;
}
.main{
    border: 1px solid;
    width: 992px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.main .news{
    width: 32%;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    padding: 0px 15px;
    margin: 0px 5px;
    color: rgb(202, 199, 199);
}
.main .news h5{
    text-transform: uppercase;
    font-size: 12px;
    text-align: left;
    padding-left: 0px;
}
.main .news .img_body{
    height: 200px;
}
.main .news .img_body img{
    width:100%;
    height: 100%;
    border-radius:5px;
}
.main .news h2{
    text-align: left;
    font-size: 24px;
    text-transform: capitalize
}
.main .news p{
    text-align: left;
    font-size: 16px;
    padding-right: 10px;
}
footer{
    width:992px;
    margin: auto;
    background-color: rgb(127, 103, 172);
}
footer p{
    margin-left: 40px;
    display: inline-block;
    width: 30%;
    color:grey;
}
footer ul{
    display: inline-block;
    width: 60%;
}
footer ul li{
    margin-left: 45px;
    display: inline-block;
}
footer ul li a{
    color:white;
    text-transform: capitalize;
    display: inline-block;
    padding: 0px 0px;
    text-decoration: none;
    font-size: 17px;
}

