body{
    font-family: sans-serif;
    font-size: 16px;
}
footer{
    width:992px;
    margin: auto;
    background-color: rgb(127, 103, 172);
}
footer p{
    margin-left: 40px;
    display: inline-block;
    width: 30%;
    color:grey;
}
footer ul{
    display: inline-block;
    width: 60%;
}
footer ul li{
    margin-left: 45px;
    display: inline-block;
}
footer ul li a{
    color:white;
    text-transform: capitalize;
    display: inline-block;
    padding: 0px 0px;
    text-decoration: none;
    font-size: 17px;
}